body {
  font-family: monospace;
  margin: 0px;
}

#app {
  display: flex;
  height: 100vh;
}

.main-view {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.status-text {
  z-index: 100;
  position: absolute;
  background-color: white;
  padding: 1px 2px;
  bottom: 0px;
  right: 0px;
}



.login {
  position: fixed;
  max-width: 100vw;
  top: 20px;
  padding: 4px;
  background-color: white;
  z-index: 100;
}



.alerts {
  position: fixed;
  bottom: 0px;
  width: 220px;
  max-width: 100%;
  z-index: 100;
}
.alert {
  margin: 4px;
  border-radius: 8px;
  color: white;
  padding: 12px;
  --timer: 3000;
  opacity: calc(var(--timer)/1000);
  background:
    linear-gradient(dimgray calc(100% - 4px), transparent calc(100% - 4px)),
    linear-gradient(
      to left,
      dimgray 0%,
      dimgray calc(100% - var(--timer)/3000 * 100%),
      transparent calc(100% - var(--timer)/3000 * 100%)
    ),
    linear-gradient(to right, red, blue);
}


.action-bar {
  position: absolute;
  z-index: 100;
}
.action-bar span {
  padding: 2px;
  background-color: white;
}
.action-bar button.active {
  color: black;
  background-color: white;
  border-color: green;
}



.sidebar {
  width: 300px;
  max-width: 40vw;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.sidebar ul {
  padding-left: 20px;
  margin: 0px;
}
.sidebar h2 {
  margin: 0px;
  padding: 8px;
  background-color: #DDD;
}
.sidebar h3 {
  margin-bottom: 0px;
}
.sidebar h3:first-child {
  margin-top: 0px;
}
.sidebar-content {
  padding: 8px;
  flex-grow: 1;
}
.sidebar-footer {
  padding: 8px;
  text-align: right;
}
.cursor-log {
  word-break: break-all;
}
